* {
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;
}

body {
	font-size: 16px;
    font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#header {
	height: 15vh;
	background-color: #e2e2e2;
    margin-bottom: 50px;
}

#header .container, #header .container .row{
	height: 100%;
}

#footer {
	height: 10vh;
	background-color: #e2e2e2;
	position: fixed;
	bottom: 0;
	width: 100%;
}

#contact-button {
	background-color: rgb(0, 154, 218);
	border: none;
	color: white;
	text-align: center;
	padding: 10px 20px;
	border-radius: 3px 3px 3px 3px;
	margin-top: 5vh;
}

.col-md-4, col-sm-6, col-xs-12 {
  //border: 2px solid black;
}

.option {
	height: 200px;
	width: 100%;
	transition: transform .5s;
	border-radius: 2px;
	text-align: center;
	color:white;
	margin: 15px auto;
    padding-top: 45px;
}

.option:hover {
	background-color: blue;
	transform: scale(1.1) ;
	box-shadow: 0px 0px 5px 2px gray;
}

.option-link:hover {
  text-decoration: none;
}

.option .title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.3em;
  padding: 15px 0 0 0;
  margin: 0;
}

.option .subtitle {
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: 200;
}


.option.nos {
    background: linear-gradient(rgb(58, 135, 183), rgba(58, 135, 183,0.6));
}
.option.ilu {
    background: linear-gradient(rgb(0, 109, 153), rgba(0, 109, 153,0.6)); 
}
.option.ani {
    background: linear-gradient(rgb(0, 113, 181), rgba(20, 70, 102,0.6)); 
}
.option.des {
    background: linear-gradient(rgb(213, 132, 0), rgba(213, 132, 0, 0.5)); 
}
.option.tra {
    background: linear-gradient(rgb(202, 97, 7), rgba(202, 97, 7,0.5)); 
}
.option.reg {
    background: linear-gradient(rgb(171, 68, 23), rgba(171, 68, 23,0.5)); 
}

/*

.back-button {
	margin: 0px 50px 50px 0px;
	position: absolute;
	bottom: 0;
	right: 0;
}

.back-button a {
	color: white;
	font-size: 1.5em;
}

.social {
	position: absolute;
	top: 0;
	left: 0;
	font-size: 30px;
	color: white;
}

#tf-embed-5961a25f4ac1c {
	max-height: inherit;
	max-width: inherit;
	height:500px;width:100%;    
}


@media (max-width: 768px) {
	body {
		padding-top: 20px;
	}

	.option {
		height: 180px;
		width: 80%;
		font-size: 1.4em;
	}

	.back-button {
		position: absolute;
		width: 100%;
		text-align: center;
		margin:0px;
	}
}

*/


/* =================== Start Menu Css ==================*/
.sidenav {
    height: 75%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 15vh;
    left: 0;
    background-color: rgb(0, 154, 218);
    overflow-x: hidden;
    transition: 0.8s;
    padding-top: 60px;
    box-shadow: 10px 5px 20px grey;
}

.sidenav hr {
	margin: 0px 30px 0px 30px;
}

.sidenav a {
    padding: 8px 8px 8px 50px;
    text-decoration: none;
    
    font-weight: 300;
    color: #fff;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav-icon {
	cursor: pointer;
	font-size: 2.5em;
	position: absolute;
	bottom: 0px;
	color: #349fd1;	
	margin-top: 5vh;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 15px;}
}
/* =================== End Menu Css ==================*/
