* {
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;
}

html, body {
	font-size: 16px;
    font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
    width: 100%;
    height: 100%;
}

#header {
	height: 15vh;
	min-height: 80px;
	background-color: #e2e2e2;
    margin-bottom: 30px;
}

.contact-info {
	font-size: 0.7em;
	line-height: 80%;
	padding: 25px 0 0 60px;
}

.contact-info span {
	font-weight: bold;
}

#footer {
	height: 5vh;
	background-color: #e2e2e2;
	position: fixed;
	bottom: 0;
	width: 100%;
}

.blue-button {
	background-color: rgb(0, 154, 218);
	border: none;
	color: white;
	text-align: center;
	padding: 7px 25px;
	border-radius: 3px 3px 3px 3px;
	margin-top: 5vh; 
}

.col-sm-2, .col-sm-3, .col-md-4, .col-sm-6, .col-xs-12 {
  /** border: 2px solid black; */
}

.option-link:hover {
  text-decoration: none;
}

.option-container {
	height: 220px;
	width: 100%;
	transition: transform .5s;
	margin: 15px auto;
	position: relative;
}

.option-container:hover, .option-link:active {
	transform: scale(1.1) ;
	box-shadow: 0px 0px 5px 2px gray;
}

.option-color {
	height: 220px; 
	width: 100%; 
	position: absolute;
}

.option-gradient {
	background: linear-gradient(rgba(255, 255, 255, .4), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)); 
	width: 100%; 
	height: 220px; 
	position: absolute;
	text-align: center;
	color:white;
	padding-top: 50px;
	text-transform: uppercase;
}

.option-gradient .title {
  font-weight: bold;
  font-size: 1.3em;
  padding: 15px 0 0 0;
  margin: 0;
}

.option-gradient .subtitle {
  font-size: 0.8em;
  font-weight: 200;
}


.option-color.nos {
    background: rgb(0, 154, 218);
}
.option-color.ilu {
    background: rgb(0, 113, 181); 
}
.option-color.ani {
    background: rgb(0, 82, 155); 
}
.option-color.des {
    background: rgb(213, 132, 0); 
}
.option-color.tra {
    background: rgb(202, 97, 7); 
}
.option-color.reg {
    background: rgb(171, 68, 23); 
}

.photo-info {
	width: 260px;
	height: 245px;
	background-color: #e8e5e5;
	margin: 3px;
	float: right;
	padding: 40px 20px 20px;
}

.photo-info p:nth-child(2) {
	font-size: 0.9em;
	font-weight: bold;
	padding: 10px 0px 10px 0px;
	margin: 0px;
}

.photo-info p:nth-child(3) {
	font-size: 0.7em;
	line-height: 200%;
}

.nosotros-text h1 {
	color: #6d787c;
	font-weight: bold;
}

.nosotros-text p {
	padding: 0px 20px;
	font-size: 0.7em;
	line-height: 200%;
	color: #9e9c9c;
}

.nosotros-text hr {
	width: 70%;
	margin-left: 20px;
	border: none;
	height: 2px;
	color: black;
	background-color: black;
}

.slider-container {
	background-color: #CCC;
	clear: both;
	margin: 0 auto;
}


.slider-items {
	width: 90%;
	margin: 0 auto;
}

.slick-slide{
	width: 220px;
}

.image-faded {
	height: 47%;
	margin-top: -30px;
	width: 100%;
}

.image-faded .text-faded{
	margin-left: 10%;
	width: 30%;
	min-width: 200px;
	float: left;
}

.image-faded .background-faded {
	height: 100%;
	width:60%;
	float: right;
	background-color: white;
	background-image: linear-gradient(to right, rgb(255, 255, 255), rgba(255, 255, 255, .1)), url("../img/doctor_mock.jpg");	
	background-repeat: no-repeat;
	background-position: right;
	background-size: cover;
}

.image-faded .background-faded.img_ilustracion {
	background-image: linear-gradient(to right, rgb(255, 255, 255), rgba(0, 0, 0, .1), rgba(0, 0, 0, .1)), url("../img/ilust/baner.png");
}

.image-faded .background-faded.img_software {
	background-image: linear-gradient(to right, rgb(255, 255, 255), rgba(0, 0, 0, .1), rgba(0, 0, 0, .1)), url("../img/soft/baner.jpg");
}
.image-faded .background-faded.img_contenido {
	background-image: linear-gradient(to right, rgb(255, 255, 255), rgba(0, 0, 0, .1), rgba(0, 0, 0, .1)), url("../img/cont/baner.jpg");
}
.image-faded .background-faded.img_traduccion {
	background-image: linear-gradient(to right, rgb(255, 255, 255), rgba(0, 0, 0, .1), rgba(0, 0, 0, .1)), url("../img/trad/baner.jpg");
}

.image-faded p {
	font-weight: 300;
	font-size: 0.7em;
}

.image-faded p > span {
	font-weight: 400;
	font-size: 1.3em;
	color: #838384;
}

.text-faded ul li{
	font-weight: 300;
	font-size: 0.7em;
	list-style: none;
}

.image-faded h1 {
	font-size: 2.2em;
	font-weight: bolder;
	color: rgb(0, 113, 181);
}

.image-faded h1 > p {
	font-weight: 400;	
	font-size: 1em;
}



/* =================== Start Menu Css ==================*/
.sidenav {
    height: 80%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 15vh;
    left: 0;
    background-color: rgb(0, 154, 218);
    overflow-x: hidden;
    transition: 0.8s;
    padding-top: 60px;
    box-shadow: 10px 5px 20px grey;
}

.sidenav hr {
	margin: 0px 30px 0px 30px;
}

.sidenav a {
    padding: 8px 8px 8px 50px;
    text-decoration: none;
    font-weight: 300;
    color: #fff;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav-icon {
	cursor: pointer;
	font-size: 2.5em;
	position: absolute;
	bottom: 0px;
	color: #349fd1;	
	margin-top: 5vh;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.sidenav .social {
	position: absolute;
	bottom: 20px;
	width: 250px;
	text-align: center;
	color: white;
	text-transform: uppercase;
}

#social-label {
	background-color: white;
	color: rgb(0, 154, 218); 
	width: 120px;
	margin: 0 0 0 50px;
	font-size: 0.8em;
	font-weight: 400;
	padding-right: 10px;
}

#social-label span {
	font-size: 2em;
	padding: 5px 5px;
}

#social-text {
	font-size: 0.8em;
	font-weight: 200;
	text-transform: none;
	margin: 0px 10px 0px 10px;
}

#social-icons {
	font-size: 1.5em;
	width: 120px;
	margin: 0 0 0 50px;
}

#social-icons a {
	
	display: inline; 
}

#social-icons button {
	background-color: transparent;
	border: 0;
	width: 28%;
}

.qr-icon {
	text-align: center;
}

.qr-icon p {
	font-size: 0.9em;
	padding: 10px;
	text-align: center;
	width: 100%
}

#share-button {
	background-color: rgb(0, 154, 218);
	border: none;
	color: white;
	text-align: center;
	padding: 10px 20px;
	border-radius: 3px 3px 3px 3px;
	margin-top: 5vh;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 15px;}
}

@media (max-width: 767px) {
	#footer {
		height: 0px;
		width: 0px;
	}

	.image-faded .text-faded{
		width: 80%;
	}
}
