* {
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;
}

body {
	font-size: 16px;
}

#header {
	height: 15vh;
	background-color: #e2e2e2;
}

#header .container, #header .container .row{
	height: 100%;
}

#footer {
	height: 10vh;
	background-color: #e2e2e2;
	position: absolute;
	bottom: 0;
	width: 100%;
}

#contact-button {
	background-color: #349fd1;
	border: none;
	color: white;
	text-align: center;
	padding: 10px 20px;
	border-radius: 3px 3px 3px 3px;
	margin-top: 5vh;
}





/*
body {
	padding-top: 150px;
	background-image: url("../img/winter_fullhd_bg.png");
	font-size: 20px;
	font-family: 'Merriweather', serif;
}


.col-md-1, .col-md-2, .col-md-3, .col-md-4 {
	border: 1px solid;
	text-align: center;
	
}

.option {
	height: 200px;
	width: 100%;
	background: white;
	background: linear-gradient(gray, black);
	transition: transform .5s;
	border-radius: 10px;
	text-align: center;
	font-size: 1.5em;
	color:white;
	margin: 15px auto;
	padding: 50px 10px;
	display: table;
}

.vcenter {
    display: table-cell;
    vertical-align: middle;
}

.option:hover {
	background-color: blue;
	transform: scale(1.1) ;
	box-shadow: 0px 0px 5px 2px green;
}

.back-button {
	margin: 0px 50px 50px 0px;
	position: absolute;
	bottom: 0;
	right: 0;
}

.back-button a {
	color: white;
	font-size: 1.5em;
}

.social {
	position: absolute;
	top: 0;
	left: 0;
	font-size: 30px;
	color: white;
}

#tf-embed-5961a25f4ac1c {
	max-height: inherit;
	max-width: inherit;
	height:500px;width:100%;    
}


@media (max-width: 768px) {
	body {
		padding-top: 20px;
	}

	.option {
		height: 180px;
		width: 80%;
		font-size: 1.4em;
	}

	.back-button {
		position: absolute;
		width: 100%;
		text-align: center;
		margin:0px;
	}
}

*/


/* =================== Start Menu Css ==================*/
.sidenav {
    height: 75%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 15vh;
    left: 0;
    background-color: #349fd1;
    overflow-x: hidden;
    transition: 0.8s;
    padding-top: 60px;
    box-shadow: 10px 5px 20px grey;
}

.sidenav hr {
	margin: 0px 30px 0px 30px;
}

.sidenav a {
    padding: 8px 8px 8px 50px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 300;
    color: #fff;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav-icon {
	cursor: pointer;
	font-size: 2.5em;
	position: absolute;
	bottom: 0px;
	color: #349fd1;	
	margin-top: 5vh;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
/* =================== End Menu Css ==================*/
